@charset "UTF-8";



:root {
    --corDeFundo01: rgba(58, 58, 158, 0.8);
    --corDeFundo02: rgba(136, 136, 206, 0.7);
    --corDeFundo03: rgb(27 ,27 ,50 );
}

body {
    background: var(--corDeFundo03) fixed center no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, var(--corDeFundo01), var(--corDeFundo02)), url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
    
}

.form-group {
   
}